
Inventory.BackgroundWorker/bin/es/Hangfire.Core.resources.dll
*.dll
.vs/config/applicationhost.config
.vs/Inventory/v14/.suo
Inventory.BackgroundWorker/bin/Hangfire.Core.xml
Inventory.BackgroundWorker/bin/Hangfire.SqlServer.xml
Inventory.BackgroundWorker/bin/Inventory.BackgroundWorker.dll.config
*.pdb
Inventory.BackgroundWorker/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
Inventory.BackgroundWorker/bin/Microsoft.Diagnostics.Tracing.EventSource.xml
Inventory.BackgroundWorker/bin/Microsoft.Owin.Host.SystemWeb.xml
Inventory.BackgroundWorker/bin/Microsoft.Owin.xml
Inventory.BackgroundWorker/bin/Newtonsoft.Json.xml
Inventory.BackgroundWorker/bin/RabbitMQ.Client.xml
Inventory.BackgroundWorker/bin/roslyn/csc.exe
Inventory.BackgroundWorker/bin/roslyn/Microsoft.CSharp.Core.targets
Inventory.BackgroundWorker/bin/roslyn/Microsoft.VisualBasic.Core.targets
Inventory.BackgroundWorker/bin/roslyn/vbc.exe
Inventory.BackgroundWorker/bin/roslyn/VBCSCompiler.exe
Inventory.BackgroundWorker/bin/roslyn/VBCSCompiler.exe.config
Inventory.BackgroundWorker/bin/Serilog.Sinks.Debug.xml
Inventory.BackgroundWorker/bin/Serilog.xml
*.cache
Inventory.BackgroundWorker/obj/Debug/Inventory.BackgroundWorker.csproj.FileListAbsolute.txt
Inventory.BackgroundWorker/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Inventory.BackgroundWorker/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Inventory.BackgroundWorker/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Inventory.BackgroundWorker/obj/Release/build.force
Inventory.BackgroundWorker/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Inventory.BackgroundWorker/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Inventory.BackgroundWorker/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Inventory.Configuration/obj/Debug/Inventory.Configuration.csproj.FileListAbsolute.txt
Inventory.Configuration/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Inventory.Configuration/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Inventory.Configuration/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Inventory.Configuration/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Inventory.Configuration/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Inventory.Configuration/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Inventory.Consumer/bin/Debug/Inventory.Consumer.vshost.exe
Inventory.Consumer/bin/Debug/Inventory.Consumer.vshost.exe.config
Inventory.Consumer/bin/Debug/Inventory.Consumer.vshost.exe.manifest
Inventory.Consumer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Inventory.Consumer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Inventory.Consumer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Inventory.Consumer/obj/Release/build.force
Inventory.Consumer/obj/Release/Inventory.Consumer.csproj.FileListAbsolute.txt
Inventory.Consumer/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Inventory.Consumer/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Inventory.Consumer/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Inventory.DependencyResolution/obj/Debug/Inventory.DependencyResolution.csproj.FileListAbsolute.txt
Inventory.DependencyResolution/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Inventory.DependencyResolution/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Inventory.DependencyResolution/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Inventory.Models.RabbitMQ/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Inventory.Models.RabbitMQ/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Inventory.Models.RabbitMQ/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Inventory.Models.RabbitMQ/obj/Release/build.force
Inventory.Models.RabbitMQ/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Inventory.Models.RabbitMQ/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Inventory.Models.RabbitMQ/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Inventory.Models/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Inventory.Models/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Inventory.Models/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
